
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
.vscode/settings.json
.vscode/launch.json

*.csproj
*.csproj
*.csproj
*.csproj
*.sln
*.apk
*.aab



##############################
# Unity folders & files
**/AssetBundles/
**/Library/
**/obj/
**/Temp/
**/Packages
**/Logs/


